<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        Development only:
        adb reverse tcp:8787 tcp:8787

        Production route endpoints are still required to use HTTPS by
        AndroidHttpNavigationRouteSource.
    -->
    <application
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="org.routingplatform.navigation.ROUTE_ENDPOINT"
            android:value="http://127.0.0.1:8787/v1/navigation/route" />

    </application>

</manifest>